<h3>See what other people are thinking!</h3>
<% posts = Post.all.select{ |post| post.is_public == true }.sort_by{ |post| post.date_added }.reverse! %>
<% if posts.size > 0 %>
   <% posts.each do |post| %>
      <% viewers_own_post = (post.user_id == session[:id]) %>
      <% author = User.find(post.user_id) %>
      <h3><%= post.date_added.strftime("%d %B %Y") %></h3>
      <p><%= post.content %> <b>(<a href="/<%= author.username %>"><%= author.username %></a>)</b></p>
      <% if viewers_own_post %>
         <h4><a href="/<%= @user.username %>/posts/edit/<%= post.id %>">(edit)</a> <a href="/<%= @user.username %>/posts/delete/<%= post.id %>">(delete)</a></h4>
      <% end %>
      <% # ▲ <input type="checkbox" name="vote"   <%= @checked %>>
      <br>
   <% end %>
<% else %>
   <h3>No posts yet!</h3>
<% end %>
