<h3><%= params[:username] %></h3>
<% user_posts = @user.posts.sort_by{ |post| post.date_added }.reverse! %>
<% if user_posts.size > 0 %>
   <% viewers_own_account = (user_posts.first.user_id == session[:id]) %>
   <% user_posts.each do |post| %>
      <% if !post[:is_public] && !viewers_own_account %>
      <% else %>
            <h3><%= post.date_added.strftime("%d %B %Y") %></h3>
            <p><%= post.content %></p>
            <% if viewers_own_account %>
               <h4><a href="/<%= @user.username %>/posts/<%= post.id %>/edit">(edit)</a> <a href="/<%= @user.username %>/posts/<%= post.id %>/delete">(delete)</a> <b><%= "(private)" if !post[:is_public] %></b></h4>
            <% end %>
            <br>
      <% end %>
   <% end %>
<% else %>
   <h3>No posts yet!</h3>
<% end %>
